@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,900;1,400&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,700;0,900;1,400&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,700;0,900;1,400&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

:root{
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-roles: 'PT Sans', sans-serif;
  --font-representation-name: 'Cabin', sans-serif;
  --primary-backgroundColor: #171729;
  --primary-headingColor: #5caff9;
  --primary-headingInfoColor: #fcf7f4;
  --primary-paragraphColor: #9292ba;
  --team-heading-fontSize: 1.8em;
  --team-secondHeading-fontSize: 1.3em;
  --team-paragraph-fontSize: 1.1em;
  --representative-mainHead-font: 2.5em;
  /* --representative-heading-font: 2.5em; */
  

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

header{
  width: 100%;
  max-height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-backgroundColor);
  position: fixed;
  z-index: 69;
  box-shadow: 0 4px 8px 0 rgba(81, 217, 255, 0.1), 0 6px 20px 0 rgba(81, 217, 255, 0.100);
}
header img{
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-left: 100px;
  filter: invert(60%);

}
nav{
  display: flex;
  align-items: center;
}
nav ul{
  /* border: 2px solid red; */
  display: flex;
  width: 700px;
}

nav ul li{
  /* border: 3px solid blue; */
  list-style: none;
  margin-left: 100px;
}

nav ul li a{
  text-decoration: none;
  color: var(--primary-headingInfoColor);
}

nav ul li a:hover{
  color: var(--primary-headingColor);
  transition: 500ms;
}


/* Main-Content Start */
.main-section{
  padding-top: 150px;
  height: 500rem;
  background-color: var(--primary-backgroundColor);
  /* position: relative; */
}

.main-headSection{
  max-height: 250px;
  display: flex;
  justify-content: space-evenly;
  padding-inline: 100px;
  padding-block: 30px;
}

.m-hs_content{
  /* border: 1px solid yellow; */
  color: var(--primary-headingColor);
  position: relative;
  font-size: 3em;
  max-height: 150px;
  top: 50px;
  left: 60px;
  /* line-height: 60px; */
}

.m-hs_content h3, h5{
  /* border: 1px solid red; */
  font: var(--font-secondary);
  font-weight:bolder;

}

.m-hs_content h5{
  color: var(--primary-headingInfoColor);
  font-size: 0.9em;
  /* border: 1px solid red; */
  font-family: var(--font-roles);
}
.peoples-img{
  width: 400px;
  height: 280px;
  object-fit: contain;
  position: relative;
  bottom: 50px;
}


/* Main team section Start */

.main-teamSection{
  background-color: var(--primary-backgroundColor);
  max-width: 60%;
  margin: 0px auto;
  /* max-width: 60%; */
  /* height: 500vh; */
}

.col-grid img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding-inline: 20px;
  padding-block: 20px;
}

.col-grid{
  display: flex;
  padding-top: 40px;
  /* border: 1px solid red;s */
}

.col-grid h5{
  font-size: var(--team-heading-fontSize);
  color: var(--primary-headingColor);
}

.col-grid h6{
  font-size: var(--team-secondHeading-fontSize);
  color: var(--primary-headingInfoColor);
}

.col-grid p{
  font-size: var(--team-paragraph-fontSize);
  color: var(--primary-paragraphColor);
  font-weight: 500;
  line-height: 2em;
}

.founders-content{
  padding-inline: 30px;
  padding-block: 15px;
}


/* Representative section start */
.mr-head1{
  max-width: 60%;
  margin: 0px auto;
  /* border: 1px solid red; */
  position: relative;
  height: 600px;
  margin-top: 80px;
}

.mr-head1 hr{
  border: 1px solid var(--primary-headingColor);
  position: relative;
  top: 15px;
  opacity: 0.5;
}
.main-representatives{
  position: absolute;
  padding-inline: 20px;
  padding-block: 50px;
  /* border: 1px solid rgb(193, 230, 28); */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  max-height: 600px;
  top: 60px;

}

.cr-head{
  font-family: var(--font-secondary);
  font-size: var(--representative-mainHead-font);
  color: var(--primary-headingInfoColor);
  font-weight: 600;
  padding-inline: 20px;
  padding-block: 10px;
}

.mr-name{
  /* border: 1px solid rgb(255, 136, 0); */
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mr-name img{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: contain;
  padding-inline: 20px;
  padding-block: 20px;
  /* border: 1px solid yellow; */
}

.mr-name-content{
  /* border: 1px solid forestgreen; */

  position: relative;
  text-align: center;
}
.mr-name h6{
  font-family: var(--font-roles);
  color: var(--primary-headingColor);
  font-size: var(--team-secondHeading-fontSize);
}

.mr-name p{
  font-family: var(--font-roles);
  color: var(--primary-headingInfoColor);
  font-size: var(--team-paragraph-fontSize);
  font-weight: 600;
}


/* 2nd Representation Section Start */
.mr-head2{
  max-width: 60%;
  margin: 0px auto;
  /* border: 1px solid red; */
  position: relative;
  height: 600px;
  margin-top: 80px;
}

.mr-head2 hr{
  border: 1px solid var(--primary-headingColor);
  position: relative;
  top: 15px;
  opacity: 0.5;
}


/* 3rd Representation Section Start */
.mr-head3{
  max-width: 60%;
  margin: 0px auto;
  /* border: 1px solid red; */
  position: relative;
  height: 600px;
  margin-top: 80px;
}

.mr-head3 hr{
  border: 1px solid var(--primary-headingColor);
  position: relative;
  top: 15px;
  opacity: 0.5;
}


/* 4th Representation Section Start */
.mr-head4{
  max-width: 60%;
  margin: 0px auto;
  /* border: 1px solid red; */
  position: relative;
  height: 600px;
  margin-top: 80px;
}

.mr-head4 hr{
  border: 1px solid var(--primary-headingColor);
  position: relative;
  top: 15px;
  opacity: 0.5;
}


/* 5th Representation Section Start */
.mr-head5{
  max-width: 60%;
  margin: 0px auto;
  /* border: 1px solid red; */
  position: relative;
  height: 600px;
  margin-top: 80px;
}

.mr-head5 hr{
  border: 1px solid var(--primary-headingColor);
  position: relative;
  top: 15px;
  opacity: 0.5;
}

/* Footer Section Start here */
footer{
  width: 100%;
  height: 50vh;
}

.part1{
  /* border: 1px solid red; */
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-headingColor);
}

.part1 .part1-content{
  padding-left: 5em;
}

.part1 .part1-content h3{
  line-height: 1.8;
  font-family: var(--font-secondary);
  font-size: var(--team-heading-fontSize);
  color: var(--primary-headingInfoColor);
}

.part1 .part1-content p{
  font-size: var(--team-paragraph-fontSize);
  color: var(--primary-headingInfoColor);

}

.part1 #email-input{
  position: relative;
  left: 120px;
  width: 400px;
  padding: 15px 30px;
  /* border: 2px solid red; */
}

.part1 a{
  position: relative;
  top: 1.5px;
  right: 30px;
  text-decoration: none;
  background-color: var(--primary-backgroundColor);
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  transition-duration: 800ms;
}


.part1 a:hover{
  background-color: var(--primary-headingColor);
  transition-duration: 800ms;

}


.part2{
  background-color: #01172b;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  padding-block: 70px;
  padding-left: 11em;
}

.part2 .col{
  color: white;
  /* border: 1px solid greenyellow; */
  width: 300px;

}

.part2 .col-head h6{
  font-weight: 600;
  font-size: larger;
}

.col1-head img{
  width: 30px;
  height: 30px;
}

.col1-head{
  display: flex;
  /* border:  1px solid red; */
}

.col1-head h6{
  font-weight: 600;
  font-size: larger;
  padding-left: 10px;
}



.col1-content{
  margin-top: 40px;
  font-size:small;

}

.col2-head{
  /* border: 1px solid red; */
  padding-left: 40px;
}


.col2-content{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 100%;
  height: 170px;
}

.row img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.col2-content-leftSide, .col2-content-rightSide{
  line-height: 3;
}

.row a{
  text-decoration: none;
  color: white;
  font-size:small;
  display: flex;
  align-items: center;
}

.col4-row1{
  display: flex;
  padding: 10px 3px;
  /* flex-direction: column; */
  font-size:small;

}

.col4-row1 i{
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.col3-head{
  /* border: 1px solid red; */
  padding-left: 40px;
}
.col3-row{
  padding: 20px 20px 15px 40px;
  font-size:small;

}

.col3-row1-date-content{
  display: flex;
}

.col3-row1-date-content i{
  display: flex;
  align-items: center;
  margin-right: 10px;
}



/* Part 3 Of footer */

.part3{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  padding-left: 3em;
  /* border: 1px solid red; */
  background-color: rgb(16, 12, 20);
  color: var(--primary-headingInfoColor);

}
.part3-left{
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.inner-right{
  display: flex;
  margin-left: 10px;
}

.inner-right i{
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.part3-right{
  /* border: 1px solid red; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 20px;
}
#jalebi{
  color: var(--primary-headingColor);
  padding-left: 5px;
}

.fa-brands{
  color: var(--primary-headingInfoColor)
}
.fa-brands:hover{
  color: var(--primary-headingColor);
}

.row a:hover{
  color: var(--primary-headingColor);
  transition-duration: 500ms;
}

.col3-row p:hover{
  color: var(--primary-headingColor);
  transition-duration: 500ms;
}
